body{
  background-image: url('./bg.jpg');
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.App {
  text-align: center;
  color: white;
}
.Search .search-in{
  width: 300px;
}

.WeatherCard .wcard{
  background-color: transparent;
  color: white;
  font-weight: lighter;
  border-radius: 20px;
}
.WeatherCard .nextdays{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.WeatherCard .nextdays .wcard{
  font-weight: lighter;
  margin: 20px;
}